<body>
        <h1>Juegos De Geometría</h1>
        
        <div class="game-option1">
            <p>1</p>
            <img src="src/assets/concep.png" alt="Conceptos">
            <p>Conceptos</p>
        </div>
        <div class="game-option2">
            <p>2</p>
            <img src="src/assets/ladosyver.png" alt="Lados y Vértices">
            <p>Lados y Vértices</p>
        </div>
        <div class="game-option3">
            <p>3</p>
            <img src="src/assets/areasyper.png" alt="Áreas y Perímetros">
            <p>Áreas y Perímetros</p>
        </div>
</body>
